.dark-theme {

  ion-content {
    background-color: #ededed;
    color: black;
  }
 button{
  color:white;
 }
  .toolbar-title{
    color: #fff;
  }
 
  .toolbar-background {
    background-color:#c10f0f;
  }

  .formbutton{
     background-color:#250d2d;
  }

.body {
  text-align:center;
}

#profileicon{
  color: #c10f0f;
}

#profileicon1{
  font-size:50px;
}

#profileicon2{
  font-size:29px;
}

#profileicon3{
  color: black;
  font-size:29px;
}

#heading1{
  text-align:center;
}

#listitem{
  margin-bottom:0;
  color:black;
}

#contactitem{
  border-radius:10px;
  border:1px solid grey;
}


#listitem1{
  border-radius:10px;
  border:1px solid grey;
  text-align:center;
  height:120px;
  width:100%;
  margin:5px;
}

#listitem1:hover{
  transform: scale(1.005); 
  opacity: 0.97;
}

#listitem1 p{
  color:black;
}

.hotline1{
  background-color:#d82a26;
  color:white;
}

.hotline2{
  background-color:#3d416d;
  color:white;
}

.hotline3{
  background-color:#7d1e1e;
  color:white;
}

.hotline4{
  background-color:#af3b92;
  color:white;
}

.hotline5{
  background-color:#f4b031;
  color:white;
}

.hotline6{
  background-color:#1e9444;
  color:white;
}

#buttonlist{
  width:40px;
}
#formin{
  width:95%;
  padding:5px;
  margin-left:auto;
  margin-right:auto;
  border-radius:10px;
}

#formout{
  width:90%;
  padding:25px;
  margin-left:auto;
  margin-right:auto;
  border-radius:10px;
}

#formhome{
  width:90%;
  padding:25px;
  margin-left:auto;
  margin-right:auto;
  border-radius:10px;
}

#formcontent{
  margin-left:auto;
  margin-right:auto;
}

#inputbox{
  width:100%;
  border:1px solid #ccc;
  margin-bottom:5px;
  padding:5px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  margin-top:20px;
  margin-bottom:20px;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    background-color: #fff;
  }
}

   .backpage {
    background-color: #050404;
    width:98%;
    margin-left: auto;
    margin-right: auto;
  }

   .icon {
    color: white;
  }


  .slide{
  border: 1px solid #d1d1d1;
  }

   .view {
    background-color:#32db64;
  }
  .edit {
    background-color:#ffd800;
  }
   .delete {
    background-color:#ef1c1c;
  }
}  